@font-face {
    font-family: 'roboto-light';
    src: url(./fonts/Roboto-Light.ttf);
    font-style: normal;
    font-weight: 100;

}

@font-face {
    font-family: 'roboto-thin';
    src: url(./fonts/Roboto-Thin.ttf);
    font-style: normal;
    font-weight: 100;

}

@font-face {
    font-family: 'roboto-regular';
    src: url(./fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 100;

}

.EVAsearch_btn{
    width: 100;
    height: 50;
}

.EVAnav_back{

}


.EVAlogo_cube{
    height: 80px;
}

.EVAnav_ele{
    font-family: 'roboto-regular';
    font-size: 20px;
    margin-left: 18px;
}

.EVAmenu{
    height: 15px;
}

.EVAside_item{
    font-family: 'roboto-regular';
    font-size: 20px;
    margin: 50px;
    font-weight: 100;
}

.EVAside_item:hover{
    cursor: pointer;
}