@font-face {
    font-family: 'roboto-light';
    src: url(./fonts/Roboto-Light.ttf);
    font-style: normal;
    font-weight: 100;

}

@font-face {
    font-family: 'roboto-thin';
    src: url(./fonts/Roboto-Thin.ttf);
    font-style: normal;
    font-weight: 100;

}

@font-face {
    font-family: 'roboto-regular';
    src: url(./fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 100;

}

.EVAcover{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
    
}

.EVAcover_logo{
    height: 400px;
    margin: 10px;
    margin-top:150px;
    
}

.EVAhead{
    font-family: 'roboto-light';
    color: white;
    font-size: 30px;
    margin-left: 160px;

}